
.action-bar{
 background-color: #272727;
 color: #fffdd0;
}

.menuItem {
 color: #fffdd0;
 font-size: 18;
 font-weight: bold;
}

.mainMenuItem {
 color: #272727;
 font-size: 20px;
 font-weight: bold;
 padding-left: 150px;
}

.btn {
 background-color: #272727;
 border: thin solid #272700;
 border-radius: 15px;
 color: #fffdd0;
 font-size: 14;
}

.bordered{
 background-color: #ffffff;
 border-radius: 50px;
 padding: 10px;
}

.center {
 text-align: center;
}

.fLeft {
 float: left;
}

.fRight {
 float: right;
}

.tLeft{
 text-align: left;
 padding-left: 10px;
}

.tRight{
 text-align: right;
 padding-right: 10px;
}

.header {
 color: #272727;
 font-size: 30px;
}

.page {
 background-color: #e3defe;
 font-size: 16px;
 padding: 5px;
}

.boldtxt {
 color: #272727;
 font-size: 16px;
 font-weight: bold;
 margin-left: 10px;
 padding: 5px;
}

.stdtxt {
 color: #272727;
 font-size: 16px;
 padding: 5px;
 word-wrap: break-word;
}

.spacer {
 font-size: 20px;
}

#layout {
 padding: 15px;
}
