.card {
 background-color: #ffffff;
 border-radius: 10px;
 box-shadow: 2px 2px 5px #272727;
 min-height: 60px;
 overflow: auto;
 padding: 15px;
}

.card-header {
 border-bottom: #272727 solid thin;
 color: #272727;
 font-size: 2em;
 font-weight: 900;
 line-height: 2em;
}

.card-title {
 color: #272727;
 font-size: 1.5em;
 font-weight: 600;
 padding: 10px;
}

.card-block {
 color: #272727;
 font-size: 1em;
}

.card-text {
 color: #272727;
}

.card-button {
 background-color: #fffdd0;
 border: none;
 border-radius: 5px;
 color: #272727;
 font-weight: bold;
}

.card-button:hover {
 background-color: #272727;
 color: #fffdd0;
}

.card-img {
 height: 180px;
}

.card-input {
 padding: 0 0 0 0;
}

.card-table {
 font-size: 1em;
}

.card-table th {
 font-size: 1em;
}

.card-table tr {
 font-size: 1em;
}

.card-table td {
 font-size: 1em;
}
